nav{
	background-image: url(palm_trees1.jpg);
	height: 180px;
}

h1{
	text-decoration: underline;
	color:  white;
}

html, body{
	margin: 0 0;
	background-color: #b8b8b8;

}

article{
	max-width: 85%;
	margin: 0 auto;
	background-color: beige;
	border-top: solid maroon;

}

p{
	font-style: bold;
	font-size: 23px;
}

.left{
	
	background-image: url(me1.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	float: left;
	width: 50%;
	height: 500px;
}

.right{
	background-size: 100% 100%;
	background-image: url(me2.jpg);
	float:right;
	width: 50%;
	height: 500px;
	background-repeat: no-repeat;
}
	

.footer{ 
	background-color: #798a92;
	clear: both;
}

.navlist{
	clear: both;
	list-style-type: none;

}

.bball {
	padding-left: 20px;
}

.logo{
font-variant: small-caps;
width: 70%;
margin: auto;
text-align: center;
font-size: 100px;
}

h2{
	clear: both;
	width: 70%;
margin: auto;
text-align: center;
font-size: 35px;

}

li{
	float: left;
	padding: 0 13.5%;
	
}

.nav{
	display: block;
	width: 60px;
	text-decoration: none;
	color: white;
	font-size: 30px;
	font-variant: small-caps;

}
.gaff {
	text-decoration: none;
	color: maroon;
}

.email{
	text-decoration: none;
	color: white;}
}